html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right, #1f2437, #181f62);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
  
.menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
.menu-container h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
  
.play-btn,
.rules-btn {
  display: inline-block;
  padding: 12px 30px;
  margin: 10px;
  font-size: 1.4rem;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 500;
}
  
.play-btn, 
.rules-btn {
  background: linear-gradient(to right, #252e54, #181f62);
}
  
.play-btn:hover,
.rules-btn:hover {
  transform: scale(1.05);
}
  
  