.rules-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
  animation: bounceIn 1s ease-in;
}

.rules-card-list {
    margin: 2rem auto;
    padding: 20px 20px;
    border-radius: 20px;
    width: 60%;
    font-size: 1.5rem;
}

.rules-card-list p {
   color: white;
}
  
.next-btn, 
.return-btn {
  display: inline-block;
  padding: 12px 30px;
  margin: 10px;
  font-size: 1.4rem;
  border-radius: 30px;
  border: none;
  text-decoration: none;
  font-family: sans-serif;
  transition: all 0.3s ease;
  background-color: #19203b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
}

.next-btn:hover,
.back-btn:hover {
  transform: scale(1.05);
}